{
  "consoletimer" : 10,
  "wpt" : {
    "apikey" : "ADD_YOUR_KEY_HERE",
    "location" : "Dulles:Chrome",
    "connectivity" : "Cable",
    "timeout" : 300,
    "runs" : 3,
    "video" : false,
    "testserver" : "http://www.webpagetest.org/"
  },
  "influx" : {
    "host" : "INFLUX_DB_HOSTNAME_OR_IP",
    "port" : 8086,
    "protocol" : "http",
    "username" : "INFLUX_USER",
    "password" : "MD5_HASH_TO_AVOID_PASSWORD_IN_CONFIG",
    "database" : "your_db_name"
  }
}
